<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    &nbsp;
    <ion-label position="stacked">Seu nome: </ion-label>
    <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="stacked">Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  &nbsp;
  <ion-button shape="round" fill="clear" color="success" expand="block">Castrar</ion-button>
  <ion-button shape="round" fill="clear" color="danger" expand="block">Cancelar</ion-button>
</ion-content>
